/* ========================= Only for grid ========================= */

/* ========================= grid - 1 ========================= */

@media only screen and (min-width:900px) {
    .know-of-loco {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        place-items: center;
        ;
    }

    .know-of-loco-contain-h1 {
        grid-column-start: 1;
        grid-column-end: 3;
        height: auto;
    }

    .locomotive-in-delhi-wdg4 {
        font-size: 1.5rem;
    }

}


/* ========================= grid - 2 ========================= */

@media only screen and (min-width:900px) {
    .school-9-class {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2);
        place-items: center;
        ;
    }

    .heading-for-school-9-class {
        grid-column-start: 1;
        grid-column-end: 3;
        height: auto;
    }

    .heading-for-school-9-class h3 {
        font-size: 1.5rem;
    }
}


/* ========================= grid - 3 ========================= */

@media only screen and (min-width:1100px) {
    .school-life-start {
        display: grid;
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(2);
        place-items: center;
        ;
    }

    .school-life-for-h3 {
        grid-column-start: 1;
        grid-column-end: 3;
        height: auto;
    }

    .school-life-for-h3 h3 {
        font-size: 1.5rem;
    }
}

/* ========================= grid - 4 ========================= */

@media only screen and (min-width:900px) {
    .anne-frank-section {
        display: grid;
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(2);
        place-items: center;
        ;
    }

    .anne-frank-heading {
        grid-column-start: 1;
        grid-column-end: 3;
        height: auto;
    }

    .anne-img.anne-img-1 {
        transform: scale(1.5);
    }

    .anne.anne-image-1 {
        padding: 40px 0px;
    }
}

/* ========================= grid - 5 ========================= */

@media only screen and (min-width:1000px) {
    .my-friend-akshat {
        display: grid;
        grid-template-columns: repeat(2);
        grid-template-rows: repeat(2);
        place-items: center;
        ;
    }

    .my-friend-akshat-heading {
        grid-column-start: 1;
        grid-column-end: 3;
        height: auto;
    }

    .my-friend-akshat-heading h2 {
        font-size: 1.5rem;
    }

    .akshat-img.akshat-img-1{
        padding: 0px;
        margin: 0px;
        transform: scale(1.3);
    }
}